@font-face {
	font-family: Montserrat bold;
	src: url("./font/MontserratAlternates-Bold.ttf");
}

@font-face {
	font-family: Montserrat semibold;
	src: url("./font/MontserratAlternates-SemiBold.ttf");
}

@font-face {
	font-family: Montserrat regular;
	src: url("./font/MontserratAlternates-Regular.ttf");
}

.main {
	width: 100vw; height: 100vh;
}

.openCart {
	width: 70px; aspect-ratio: 1/1;
	border-radius: 50px;
	background-color: #EAA73E;
	border: 1px #c08525 solid;
	position: absolute;
	bottom: 60px; right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}

.openCartIcon{
	z-index: 10000;
	width: 60%; height: 60%;
    cursor: pointer;
}

.closeCart {
	width: 70px; aspect-ratio: 1/1;
	position: absolute;
	top: 0px; left: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeCart img{
	width: 40px; aspect-ratio: 1/1;
}

.cartContainer {
	height: 100vh;
	width: 100vw;
}

.menu {
	width: 100%; height: calc(100vh - 230px);
	scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
	align-items: center;
	font-family: Montserrat bold;
	font-size: 50px;
	overflow-y: auto;
}

.black {
	font-family: Montserrat bold;
	padding-top: 10px;
	margin-bottom: 30px;
}

.item {
	height: 500px;
	aspect-ratio: 3/4;
	position: relative;
	display: flex;
	flex-direction: column;
}

.photo {
	height: 62.5%; aspect-ratio: 1/1;
	align-self: center;
	border-radius: 20px;
	margin-bottom: 10px;
}

.photo img {
	width: 100%; height: 100%;
	border-radius: 20px;
}

.name {
	max-width: 280px;
	font-family: Montserrat semibold;
    font-size: 22px;
	padding-left: 30px;
	margin-bottom: 10px;
}

.g {
	font-family: Montserrat regular;
    font-size: 20px;
	padding-left: 30px;
	margin-bottom: 3px;
}

.price {
	font-family: Montserrat regular;
    font-size: 20px;
	padding-left: 30px;
}

.addToCart {
	width: 130px; height: 60px;
	position: absolute;
	bottom: 12%; right: 30px;
	display: flex;
	gap: 10px;
}

.add {
	z-index: 5;
	position: absolute;
	right: 0;
	background-image: url('./assets/plus.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 30px;
	height: 60px; width: 100%;
    background-color: #EAA73E;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: .25s ease-in-out all;
}



.remove {
	z-index: 2;
	position: absolute;
	width: 60px; aspect-ratio: 1/1;
	background-image: url('./assets/minus.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 30px;
    background-color: #EAA73E;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
	position: absolute;
	font-variant-numeric: tabular-nums;
	top: 52%; right: 50px;
	color: #fff;
	font-size: 30px;
}


/* Cart */



.total, .sum {
	font-family: Montserrat regular;
    font-size: 22px;
    padding-left: 20px;
	padding-right: 20px;
    margin-bottom: 10px;
	font-variant-numeric: tabular-nums;
	display: flex;
	justify-content: space-between;
}

.discount div {
	color: #dd3232;
}

.discount {
	font-family: Montserrat regular;
    font-size: 22px;
    padding-left: 20px; padding-right: 20px;
    margin-bottom: 10px;
	font-variant-numeric: tabular-nums;
	display: flex;
	justify-content: space-between;
}

.total {
	margin-bottom: 50px;
}

.buy {
	width: 80vw; height: 60px;
	justify-self: center;
    background-color: #266665;
    border: 1px #1d4948 solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat bold;
    font-size: 22px;
    color: #fff;
}

.sum div {
	text-decoration: line-through;
}